In [4]:
import pyodbc
pyodbc.drivers()

['SQL Server',
 'SQL Server Native Client RDA 11.0',
 'ODBC Driver 17 for SQL Server',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access Text Driver (*.txt, *.csv)']

In [5]:
conx_string = 'DRIVER={SQL Server}; SERVER=DESKTOP-KQ740OS; Database=sample; TRUSTED_CONNECTION=yes'
conx = pyodbc.connect(conx_string);

In [3]:
conx.close

In [6]:

query ="select * from Employee"
cursor1 = conx.cursor()
data = cursor1.execute(query)
print(type(data))
for i in data:
    print(i)

<class 'pyodbc.Cursor'>
(1, 'Mark', 'Male', 50000, 1)
(2, 'Mary', 'Female', 60000, 3)
(3, 'Steve', 'Male', 45000, 2)
(4, 'John', 'Male', 56000, 1)
(5, 'Sara', 'Female', 39000, 2)

In [19]:
from sqlalchemy import create_engine
import pandas as pd
server = 'DESKTOP-KQ740OS'
database = 'sample'
driver = 'ODBC Driver 17 for SQL Server'
conx_string = f'mssql://@{server}/{database}?driver={driver}'
engine = create_engine(conx_string)
con=engine.connect()

# df = pd.read_sql_table("Employee",engine)
# df
# con.close()

#     name='customers',
#     con='engine',
    
# )

-1

In [8]:
df = pd.read_csv('customers.csv')
df

     Customer Name  Customer Phone
0     rafael nadal      4567895647
1  maria sharapova       434534545
2   vladimir putin        89345345
3      kim un jong       123434456
4       jeff bezos       934534543
5     rahul gandhi        44324222

In [20]:
df = pd.read_csv('customers.csv')
df

     Customer Name  Customer Phone
0     rafael nadal      4567895647
1  maria sharapova       434534545
2   vladimir putin        89345345
3      kim un jong       123434456
4       jeff bezos       934534543
5     rahul gandhi        44324222

In [21]:
df.rename(columns={
    'Customer Name': 'name',
    'Customer Phone': 'phone_number'
}, inplace=True)

In [23]:
df.to_sql('customers',engine,if_exists='append',index =False)

-1